<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data User</title>
    <style>
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        label, input {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
<form th:method="POST" th:action="@{/admin/createOrUpdateUser}" th:object="${user}">
    <input type="hidden" th:field="*{id}" />
    <br/>
    <label for="username">Enter Login(Email): </label>
    <input type="text" th:field="*{username}" th:value="${user.getUsername()}"  id="username">
    <br/>
    <label for="password">Enter Password: </label>
    <input type="text" th:field="*{password}" th:value="${user.getPassword()}" id="password">
    <br/>
    <label for="firstname">Enter First Name: </label>
    <input type="text" th:field="*{firstname}" th:value="${user.getFirstname()}" id="firstname">
    <br/>
    <label for="lastname">Enter Last Name: </label>
    <input type="text" th:field="*{lastname}" th:value="${user.getLastname()}" id="lastname">
    <br/>
    <label>Role:
        <input type="checkbox" name="roles"
               th:each="role : ${roles}"
               th:text="${role.getRole()}"
               th:value="${role.getId()}"
               th:field="*{roles}">
    </label>
    <br>
    <input type="submit" value="Save" style="font-size: 12px; padding: 5px 30px;"/>
</form>
</body>
</html>