<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <style>
        h2, form, table {
            align-items: center;
            display: flex;
            flex-direction: column;
            border-collapse: collapse;
        }
        th, td {
            border: 5px solid #2d56c4;
            padding: 5px;
            align-items: center;
        }
        td {
            color: darkred;
        }
    </style>
</head>
<body>
<h2>Users Table</h2>
<table>
    <tr>
        <th>Username (Email)</th>
        <th>Password</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Roles</th>
        <th>Operations</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:utext="${user.getUsername()}">Username (Email)</td>
        <td th:utext="${user.getPassword()}">Password</td>
        <td th:utext="${user.getFirstname()}">First Name</td>
        <td th:utext="${user.getLastname()}">Last Name</td>
        <td th:utext="${user.getRoles()}">Roles</td>
        <td>
            <form th:action="@{/admin/deleteUser}" method="POST">
                <input type="hidden" th:value="${user.getId()}" name="id"/>
                <input type="submit" value="Delete" style="font-size: 12px; padding: 5px 15px; "/>
            </form>
            <form th:method="GET" th:action="@{/admin/updateUser}" th:object="${user}">
                <input type="hidden" th:value="${user.getId()}" name="id"/>
                <input type="submit" value="Update User" style="font-size: 12px; padding: 5px 15px;"/>
            </form>
        </td>
    </tr>
</table>
<br>
<form th:method="GET" th:action="@{/admin/newUser}" th:object="${user}">
    <input type="submit" value="Add User" style="font-size: 12px; padding: 5px 30px;"/>
</form>
<br>
<form th:action="@{/logout}" method="get">
    <input type="submit" value="Logout" style="font-size: 12px; padding: 5px 30px;"/>
</form>
</body>
</html>